
@{
    ViewBag.Title = "Compliting registration";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";    
}

<div class="content">   
    <p>E-mail sent with further instructions upon completion of registration</p>
    @Html.ActionLink("Go to authorization page","Register","Account")
</div>




